.layout {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

}

/* Responsive design */
@media screen and (width>=768px) {
  .content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    align-items: start;
    justify-items: center;
  }
}

@media screen and (width>=1024px) {
  .content {
    grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
  }
}